/*21/02/2022*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../image/hike-gb203ab03b_1920.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.father {
  width: 350px;
  height: 325px;
  display: flex;
  position: absolute;
  align-items: center;
  padding: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #0000004d;
  box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 70%);
}
@media (max-width: 767px) {
  body {
    background-position: center;
  }
  .father {
    width: 85%;
  }
}

/* start header */
.father header {
  position: absolute;
  top: 10%;
  display: flex;
  gap: 20px;
}
.father header .in,
.up {
  color: #fff;
  text-decoration: none;
}
.up {
  border-bottom: 2px solid #2196f3;
}
/* end header */
/* start form */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.user,
.mail,
.pas {
  width: 100%;
}
form .user input,
.mail input,
.pas input {
  width: 100%;
  padding: 10px;
  background-color: #0000;
  border: none;
  border-bottom: 2px solid #2196f3a6;
  outline: none;
  color: #fff;
}
form .user input:hover,
.mail input:hover,
.pas input:hover {
  border-bottom: 2px solid #078fff;
  transition: 0.6s;
}
.checkbox {
  margin-top: 10px;
}
.checkbox label {
  font-size: 11px;
  font-weight: 600;
}
.Register {
  background-color: #2196f3a6;
  padding: 5px;
  border-radius: 15px;
  width: 150px;
  border: none;
  /* margin: 10px; */
  position: absolute;
  top: 80%;
  transform: translateX(-50%);
  left: 50%;
  color: #fff;
}
.Register:hover {
  background-color: #03a9f4;
  box-shadow: 0px 0px 7px 2px #03a9f4;
  border-bottom: none;
  transition: 0.6s;
}
/* end form */
